<div class="body-devise-style">
  <div class="container">
      <h2 style="color: #fff;">Crie sua conta</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
              <label for="exampleInputEmail" class="Lebalinho">Email</label>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "exampleInputEmail1", placeholder:"Enter email" %>
              <small id="emailHelp" class="form-text text-muted">Se não quiser perder sua conta, não passe suas informações!</small>
            </div>

            <div class="form-group">
              <label for="exampleInputPassword1" class="Lebalinho">Senha</label>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> caracteres minimos)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control", id: "exampleInputPassword1", placeholder:"Coloque uma senha"%>
            </div>

            <div class="form-group">
              <label for="exampleInputPassword1" class="Lebalinho">Senha</label>
              <%= f.password_field :password_confirmation, autocomplete: "current-password", class: "form-control", id: "exampleInputPassword1", placeholder:"Confirme sua senha"%>
            </div>

            <%= f.submit "Criar", class:"btn btn-primary" %>
      <% end %>

      <%= render "devise/shared/links" %>
  </div>
</div>