<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
<div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <div class="navbar-header">
                        <button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        <a href="<%= root_path %>" class="navbar-brand">COMPASS MARKET</a>
                    </div>

                    <div class="navbar-collapse collapse" id="mobile_menu">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Como funciona</a></li>
                            <li><a href="#">Grupo</a></li>
                            <li><a href="#">Contato</a></li>
                        </ul>
                        

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="<%= root_path %>"><i class="fa-solid fa-coins"></i> <%= current_user.cash %></a></li>
                            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa-solid fa-user"></i> <%= current_user.name %><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Suas informações</a></li>
                                    <li><%= link_to "Sair", destroy_user_session_path, data:{turbo_method: :delete } %></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>